/* ====================================================================
                       Login Left  Start
==================================================================== */
.sub__heading__google {
  margin-top: 30px;
}
.google__img {
  width: 220px;
}
.reg__eye__pass {
  top: 46px;
}
/* ====================================================================
                       Login Left  End
==================================================================== */
