/* ====================================================================
                       Registration Left  Start
==================================================================== */
.registration__left__wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration__left {
  display: flex;
  flex-direction: column;
  row-gap: 39px;
  justify-content: center;
  align-items: flex-start;
}

.heading {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 34.4011px;
  line-height: 47px;
  color: #11175d;
}

.sub__heading {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 20.6406px;
  line-height: 28px;
  color: #000000;
  opacity: 0.5;
  padding-top: 13px;
}

.input__container {
  width: 368px;
  display: flex;
  flex-direction: column;
  /* row-gap: 34.4px; */
}

.registration__input__item {
  width: 100%;
  margin-bottom: 34.4px !important;
}

.reg__button {
  margin-top: 20px !important;
}

.auth__link__area {
  margin-top: 35px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.auth__text {
  color: #03014c;
  font-weight: 400;
  margin-top: 0;
}
.auth__link {
  color: #ea6c00;
  font-weight: 700;
  margin-top: 0;
  font-weight: 700;
}

.input__wrapper {
  position: relative;
  padding: 8px 0;
}

.error__alert__message {
  font-size: 12px !important;
  padding: 0 12px !important;
  align-items: center !important;
  width: 100%;
  position: absolute;
  top: 95px;
  left: 0;
}
.error__alert__message svg {
  width: 16px !important;
}

.eye__pass {
  position: absolute;
  top: 37px;
  right: 12px;
  font-size: 26px;
  cursor: pointer;
  color: #11175d;
}
/* ====================================================================
                       Registration Left  End
==================================================================== */

/* ====================================================================
                       Registration Right  Start
==================================================================== */
.registration__right {
  width: 100%;
}

.registration__img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* ====================================================================
                       Registration Right  End
==================================================================== */
