* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img,
svg {
  vertical-align: middle;
}

a {
  display: inline-block;
  text-decoration: none;
}

/* all fonts{
  font-family: "Nunito", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
} */

/* ===========================================================================
                            All Common CSS 
============================================================================ */

