* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img,
svg {
  vertical-align: middle;
}

a {
  display: inline-block;
  text-decoration: none;
}

.no__match {
  color: crimson;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  font-size: 32px;
}

::-webkit-scrollbar {
  width: 8px;
}

/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 0 8px 8px 0;
} */

::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* all fonts{
  font-family: "Nunito", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
} */

/* ===========================================================================
                            All Common CSS 
============================================================================ */

/* ===========================================================================
                                Menu Start 
============================================================================ */

.menu__main {
  width: 100%;
  height: 95%;
  background: #5f35f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  row-gap: 50px;
  border-radius: 15px;
  padding: 38px 0;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 8px;
}
.user__holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2px;
}
.user__name {
  color: #f1f2f6;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.image__holder {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
}
.img-preview {
  width: 80px !important;
  height: 80px !important;
  border-radius: 50%;
  overflow: hidden;
}
.profile__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.cursorLess__profile__img {
  cursor: auto;
}
.menu__holder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.menu {
  width: 73%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.icon__holder {
  width: 100%;
  height: 65px;
}
.icon__holder a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0 0 10px;
  position: relative;
}
.icon__holder .active {
  background-color: #fff;
}
.icon__holder .active::after {
  background: #5f35f5;
  content: "";
  width: 20px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -15px;
  z-index: 2;
  border-radius: 7px 0 0 7px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.icon__holder .icon {
  color: #fff;
  font-size: 40px;
  cursor: pointer;
}
.icon__holder .active .icon {
  color: #5f35f5;
  font-size: 40px;
  cursor: pointer;
}

/* .logout__holder {
} */
.logout__holder .icon {
  color: #fff !important;
  font-size: 40px;
  cursor: pointer;
}

/* ======================= */

.modal__heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 10px;
}
.modal__title {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.modal__input__box {
}

.image__holder__relative {
  position: relative;
}
/* ===========================================================================
                                    Menu End
============================================================================ */
